*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 25px 140px;
    background-color: rgb(133, 99, 11);
    position: sticky; 
    top: 0;  
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 200px;
}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 30px;
}

header nav a:hover{
    color: rgb(255, 255, 255);
    font-size: 35px;
}

header button{
    border:0 ;
    background-color:black;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

header button:hover{
    border:3px solid white ;
    background-color:transparent; 
}

#hero{
   padding: 25px 140px;
   background-color: goldenrod; 
}

#hero nav a{
  text-decoration: none;
  font-size: 50px;
  color: black;
  display: flex;
  justify-content: center;
  margin: 50px;
}


#hero nav  img{
    width: 900px;
    height: 600px;
   margin: 30px 300px;
}

#hero nav p{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

#table{
   padding: 25px 140px;
   background-color: rgb(155, 119, 28); 
}

#table table{
    width: 900px;
    height: 600px;
    border: 2px solid black;
 margin:  0px 300px;
}

#table thead{
    background-color: white;
    height: 50px;
    font-size: 20px;
}

#table tbody{
    border: 2px solid black;
}

#table tbody td{
    border:2px solid black ;
    font-size: 30px;
}

footer{
       padding: 25px 140px;
   background-color: rgb(244, 203, 99); 
}

footer nav a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin:  40px 200px;
}